@import '@/assets/iconfont/iconfont.css';
.editor {
  width: 100%;
  height: 100%;
  &-left,
  &-right {
    position: absolute;
    width: 270px;
    top: 90px;
    bottom: 0;
    // background-color: red;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &-left {
    left: 0;
    &-item {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      min-height: 100px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border: 3px solid #f5f5f5;
      cursor: move;
      user-select: none;
      > span {
        position: absolute;
        top: 0;
        left: -1px;
        padding: 3px;
        color: #fff;
        background-color: #409eff;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        opacity: 0.1;
      }
      &:hover {
        border-color: #53a8ff;
      }
    }
  }
  &-right {
    right: 0;
  }

  &-top {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 3px #ccc;
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 60px;
      height: 60px;
      background-color: #fff;
      color: #000000;
      user-select: none;
      cursor: pointer;
      & + & {
        margin-left: 8px;
      }
    }
    &-logo {
      position: absolute;
      left: 10px;
    }
    &-rightImg1 {
      position: absolute;
      right: 60px;
      cursor: pointer;
    }
    &-rightImg2 {
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
  }

  &-container {
    box-sizing: border-box;
    padding: 90px 290px 0;
    height: 100%;
    &-canvas {
      overflow: scroll;
      padding: 10px;
      height: 100%;
      &__content {
        position: relative;
        box-shadow: #666 0 0 0.1rem;
        margin: 0 auto;
        background-color: #fff;
      }
    }
  }
}

//editor-block
.editor-block {
  position: absolute;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &-focus {
    &::after {
      border: 2px dashed red;
    }
  }
  &-preview {
    &::after {
      display: none;
    }
  }
}

//selected-box
.selected-box {
  display: none;
  position: absolute;
  border: 2px dashed red;
}

//line
.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 2px dashed red;
}
.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 2px dashed red;
}

//dropdown
.dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 2px rgb(172, 172, 172);
  &-isShow {
    display: block;
  }
  &-item {
    line-height: 30px;
    width: 100px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    > i {
      margin-left: 5px;
      margin-right: 10px;
      vertical-align: middle;
    }
    > span {
      color: #333;
      font-size: 14px;
    }
  }
}
// ElButton
.el-button,
.el-input {
  transition: none;
}
.range {
  display: inline-flex;
  width: 220px;
  min-height: 30px;
  > input {
    flex: 1;
    width: 100%;
  }
  > span {
    line-height: 30px;
    padding: 0 5px;
  }
}
// block-resize
.block-resize {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: rgb(0, 149, 255);
  z-index: 1000;
  user-select: none;
  cursor: move;
  &-top {
    top: -2px;
    left: calc(50% - 2px);
    &-left {
      top: -2px;
      left: -2px;
    }
    &-right {
      top: -2px;
      right: -2px;
    }
  }
  &-bottom {
    bottom: -2px;
    left: calc(50% - 2px);
    &-left {
      bottom: -2px;
      left: -2px;
    }
    &-right {
      bottom: -2px;
      right: -2px;
    }
  }
  &-left {
    left: -2px;
    top: calc(50% - 2px);
  }
  &-right {
    right: -2px;
    top: calc(50% - 2px);
  }
}

//左右区域标题
.topTitle {
  box-sizing: border-box;
  box-shadow: 0px 1px 0px #ccc;
  width: 270px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #409eff;
}
//动画组件样式
.animate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.animateItem {
  width: 45%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  border: 2px solid #409eff;
  position: relative;
  cursor: pointer;
  > p {
    color: #409eff;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
  }
  &:hover {
    > p {
      color: #fff;
    }
    background: #409eff;
  }
}
